<h2 mat-dialog-title>Modifier utilisateur</h2>

<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Rôle</mat-label>
      <mat-select formControlName="role">
        <mat-option value="USER">USER</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Annuler</button>
    <button
      mat-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      Enregistrer
    </button>
  </mat-dialog-actions>
</form>
