<div class="container">
  <h2>Gestion des utilisateurs</h2>

  <div *ngFor="let user of users" class="user-card">
    <h3>{{ user.name }} ({{ user.email }}) - {{ user.role }}</h3>

    <button mat-raised-button color="primary" (click)="editUser(user)">
      Modifier
    </button>
    <button mat-raised-button color="warn" (click)="deleteUser(user.id)">
      Supprimer
    </button>

    <div *ngIf="user.bookings && user.bookings.length > 0; else noBookings">
      <h4>Réservations :</h4>
      <ul>
        <li *ngFor="let booking of user.bookings">
          Chambre {{ booking.room?.number }} — {{ booking.room?.type }} ({{
            booking.room?.price
          }} €)<br />
          <strong>{{ booking.checkInDate }}</strong> ➝
          <strong>{{ booking.checkOutDate }}</strong
          ><br />
          Statut : {{ booking.status }}
        </li>
      </ul>
    </div>

    <ng-template #noBookings>
      <p>Aucune réservation</p>
    </ng-template>
    <hr />
  </div>
</div>
